<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Gender Prediction Female</title>
</head>
<body>
    <div class="container">
        {% for i in range(n) %}
            {% if i == 16 or i == 48 or i == 82 %}
                <a class="colbt" href="predict"></a>
            {% else %}
                {% if col[i][0] != 0 %}
                    <div class="col8"></div>
                {% else %}
                    <div class="col0"></div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
</body>
</html>